body{
    background-color:green;
    font-family: 'Times New Roman', Times, serif,
}
.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    background-color: olive;
    text-align: center;
    padding: 20px 0;


  }
  .one {
    grid-column-start: 1;
    grid-column-end; 2;
    grid-row-start: 1;
    grid-row-end: 2;
    border: 1px solid black;
    border-radius: 8px;
    grid-auto-flow: row;
  }
  .two { 
    grid-column: 2 / 4;
    grid-row: 1 / 3;
    background-color: black;
    color: white;
    text-transform: capitalize;
  }
  .three {
    grid-column: 1;
    grid-row: 2 / 5;
    background-color: blue;
  }
  .four {
    grid-column: 3;
    grid-row: 3;
    background-color: brown;
    text-align: left;
  }
  .five {
    grid-column: 2;
    grid-row: 4;
    background-color: blueviolet;
  }
  .six {
    grid-column: 3;
    grid-row: 4;
    background-color: red;
  }
  #picture{
      width: 100%;
      height: 50%;
  }